@import "fonts.css";

@import "reset.css";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 250%;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: 5.5vw;
  font-weight: 700;
    /* margin-top: 2vw; */
  margin-bottom: 2vw;
      line-height: 1;
}

h2 {
  /* font-size: 50px; */
  font-size: 4vw;
  font-weight: 700;
  margin: 20px 0 20px 0;
  line-height: 1.2;

}

h3 {
  font-size: 2vw;
  /* font-weight: 200; */
  width: 628px;
}

p {
  font-size: 2vw;
  margin-bottom: 15px;
}

h4 {
  font-size: 1.7vw;
  font-weight: 200;
  color: #939393;
}


header {
  color: #000;
  margin-bottom: 46px;
  /* height: 800px; */
  /* background-image: url('../images/backone.png'); */
}

.entry {
  margin-left: 80px;
  margin-top: 200px;
}

.poster_red, .poster_blue, .theatercover {
  /* width: 380px;
  height: 564px; */
  width: 26vw;
  height: 37vw;
}

.poster_blue {
  /* margin-left: 863px; */
  margin-left: 59vw;
  margin-right: 80px;
  margin-top: -165px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.poster_red {
  /* margin-left: 976px; */
margin-right: 160px;
  margin-left: 67vw;
margin-top: -47vw;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.mockupone {
  width: 82vw;
  height: 54vw;
  margin-left: 190px;
  margin-top: 46px;
}

.plusone {
  margin-top: -415px;
  margin-left: 80px;
}

.plustwo {
  margin-top: -415px;
  margin-left: 1067px;
}

.mockuptwo {
  width: 82vw;
  height: 54vw;
  margin-left: 80px;
  margin-top: 46px;
}

.formtwo, .flags, .formone {
  height: 38vw;
  width: 28vw;
}

nav ul {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;

  display: flex;

  width: 86vw;
  margin: 0 auto;
  padding: 10px 40px;

  letter-spacing: 1px;
  text-transform: uppercase;

  font-size: 18px;

  justify-content: space-between;
  color: #fff;
  background-color: #000;
}

ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}


li {
  font-size: 18px;
}

.about {
  margin-left: 80px;
  display: flex;
  margin-bottom: 30px;
}

.firstwork, .posters {
  margin-bottom: 46px;
}

.abouttext  {
  margin-left: 80px;
  width: 50vw;
  margin-bottom: 46px;
}

.firstworktext, .postertext, .spacetext, .booktext, .searchtext, .finaltext {
  width: 845px;
  margin-left: 80px;
  margin-bottom: 30px;
}

.firstworkimage, .postersimage, .booksimage, .searchimage, .finalimage {
  display: flex;
  position: relative;
  margin-left: 80px;
  justify-content: space-between;
  width: 89vw;
}

.postersimage, .searchimage, .finalimage {
  flex-direction: column;
}

.flags {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flagone {
  margin-bottom: 30px;
  height: 17vw;
  width: 28vw;
}

.flagtwo {
  height: 18vw;
  width: 28vw;
}

a {
 text-decoration: none;
 color: #000;
 font-size: 30px;
 font-weight: 600;
 margin: 10px 0 10px 0;

}

.vector {
  height: 3px;
  width: 3px;
}

.postersrawone, .postersrawtwo, .searchrawone, .searchrawtwo, .finalrawone, .finalrawtwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 89vw;
  margin-bottom: 30px;
}

.typenew, .oldfirst, .deathnew, .searchone, .searchtwo, .searchthree {
  height: 38vw;
  width: 28vw;
}

.posterslast {
  display: flex;
  justify-content: space-between;
  width: 59vw;
}

.space {
  background-image: url(../images/topone.png);
  color: #fff;
  max-height: 905px;
}

.spacetext {
 padding-top: 520px;
 padding-bottom: 40px;
}

.spacetext a {
  color: #fff;
}

.bookone, .bookthree {
  margin-bottom: 30px;
  margin-right: 20px;
}

.footerone {
  display: flex;
  justify-content: space-around;
  padding: 30px 80px 30px 80px;
  background-color: #000;
  color: #fff;
}

.footerone li:first-of-type {
  font-weight: 700;
}

.totop {
  margin: 30px 0 30px 80px;
}

a:hover {
  font-weight: 700;
}

.handposter, .oldposter, .searchfour, .searchfive {
    width: 43vw;
    height: 58vw;

  }

  .bookone {
    width: 35vw;
  height: 46vw;

  }

  .booktwo {
    width: 35vw;
    height: 26vw;
}


  .bookthree {
    width: 50vw;
    height: 36vw;

  }

  .bookfour {
    width: 50vw;
    height: 36vw;

  }

  .finalone {
    width: 59vw;
    height: 41vw;

  }

  .finaltwo {
    width: 28vw;
    height: 41vw;

  }

  .finalthree {
    width: 29vw;
    height: 38vw;

  }

  .finalfour {
    width: 58vw;
      height: 38vw;

  }








@media (max-width: 1025px) {

  nav ul li a {
    font-size: 15px;
  }

  .about {
    margin-left: 40px;
  }

  .abouttext p {
  font-size: 15px;
  width: 350px;
    line-height: 1.5;

  }

  .abouttext {
        margin-left: 40px;
  }

  .mockupone, .mockuptwo {
  width: 867px;
  height: 515px;
  margin: 0 40px;
  }

  .plusone {
    margin-left: 40px;
  }

  .plustwo {
    margin-top: -238px;
    margin-left: 576px;
  }

  p {
    font-size: 30px;
  }

  /* .handposter, .oldposter {
    width: 626px;
    height: 875px;
  } */




}

@media (max-width: 769px) {

  .poster_red, .poster_blue {
    display: none;
  }

  .theatercover {
    width: 267px;
    height: 378px;
  }

  .entry {
    margin-top: 320px;
  }

  header {
    height: 500px;
  }

  nav ul li a {
    font-size: 13px;
  }

  h1 {
    font-size: 85px;
    margin-bottom: 42px;
  }

  h3 {
    font-size: 33px;
  }

  h4 {
    font-size: 24px;
  }

  h2 {
    font-size: 36px;
  }

  .entry {
    margin-left: 40px;
  }

  .mockupone, .mockuptwo {
  width: 660px;
  height: 393px;
  }

  .plusone {
    width: 250px;
    height: 71px;
    margin-top: -257px;
  }

  .plustwo {
    width: 217px;
    height: 50px;
        margin-left: 484px;

  }

  .abouttext p {
  font-size: 15px;
  line-height: 1.5;
      width: 300px;
  }

  .firstworktext, .postertext, .spacetext, .booktext, .searchtext, .finaltext {
    width: 85vw;
    margin-left: 40px;
    font-size: 24px;
  }

  .firstworkimage, .postersimage, .booksimage, .searchimage, .finalimage {
    margin-left: 40px;
  }

  .postersrawtwo {
    flex-direction: column;
    align-items: center;
  }


.handposter, .oldposter, .typenew, .oldfirst, .deathnew {
  /* width: 318px;
  height: 445px; */
  width: 43vw;
height: 58vw;

}

.typenew {
  margin-bottom: 30px;
}

.posterslast {
  width: 89vw;
}




}


@media (min-width: 1441px) {

  .poster_red, .poster_blue, .theatercover {
  width: 380px;
  height: 564px;
}

h1 {
  font-size: 85px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 24px;
}

.poster_blue {
    margin-left: 863px;
}

.poster_red {
    margin-left: 976px;
    margin-top: -714px;
}

nav ul {
  width: 1272px;
}

.abouttext  {
  width: 660px;

}

p {
  font-size: 30px;
}

.abouttext p {
font-size: 30px;
}

.formtwo, .flags, .formone {
  height: 546px;
  width: 406px;
}

.flagone {
  height: 255px;
  width: 406px;
}

.flagtwo {
  height: 260px;
  width: 406px;
}

.firstworkimage, .postersimage, .booksimage, .searchimage, .finalimage {
  width: 1272px;
}

.mockupone, .mockuptwo {
  width: 1170px;
  height: 696px;

}

.handposter, .oldposter {
  width: 626px;
  height: 875px;
}

.postersrawone, .postersrawtwo, .searchrawone, .searchrawtwo, .finalrawone, .finalrawtwo {
  width: 1272px;
}

.typenew, .oldfirst, .deathnew {
    height: 572px;
    width: 403px;
  }

  .posterslast {
    width: 840px;
  }

  .bookone {
    width: 516px;
    height: 659px;
  }

  .booktwo {
    width: 516px;
    height: 362px;
  }

  .bookthree {
    width: 735px;
    height: 519px;

  }

  .bookfour {
    width: 733px;
    height: 519px;

  }

  .finalone {
    width: 835px;
    height: 590px;

  }

  .finaltwo {
    width: 405px;
    height: 590px;

  }

  .finalthree {
    width: 406px;
    height: 542px;

  }

  .finalfour {
    width: 839px;
    height: 542px;

  }


}
